
<div class="container col-md-offset-4">
  <div class="col-md-12">
    <Form [formGroup]="shiftHoursForm" (ngSubmit)="calculatePay()">
      <br />
      <div class="row">
        <div class="col-md-4">
          <strong>Start Time: </strong>
          <select name="startTime" formControlName="startTime" class="form-control" (change)="onChangeStartTime($event)">
            <option *ngFor="let shiftHour of shiftHours" [value]="shiftHour.hour" > {{shiftHour.name}} </option>
          </select>
        </div>

        <div class="col-md-4">
          <strong>End Time: </strong>
          <select name="endTime" formControlName="endTime" class="form-control" (change)="onChangeEndTime($event)">
            <option *ngFor="let shiftHour of shiftHours" [value]="shiftHour.hour" > {{shiftHour.name}} </option>
          </select>
        </div>
      </div>

      <div class="col-md-12">
        <br />
        <button type="submit" class="btn btn-lg btn-success" [disabled]="shiftHoursForm.invalid"> Calculate Pay </button>
        <br /> <br />
        <div *ngIf="totalPay > 0">
          <h5>Started Work at: {{startTime}}</h5>
          <h5>Finished Work at: {{endTime}}</h5>
          <h2>Total Pay is: {{totalPay | currency}}</h2>
        </div>
      </div>
    </Form>
  </div>
</div>
